@model Casgem_mediator.MediatorPattern.Result.GetProductUpdateByIDQueryResult
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<form method="post" >
    <label>Ürün adı</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <br />
     <label>Ürün marka</label>
    <input type="text" class="form-control" asp-for="Brand"/>
    <br />
     <label>Ürün stok</label>
    <input type="text" class="form-control" asp-for="Stock"/>
    <br />
    <label>Ürün fiyat</label>
    <input type="text" class="form-control" asp-for="Price" />
    <br />
    <label>Ürün category</label>
    <input type="text" class="form-control" asp-for="Category" />
    <br />
    <
    <input type="hidden" class="form-control" asp-for="ProductID" />
    <button class="btn btn-info"> Ürünü güncelle</button>
    <br />

</form>